
extends ./basic.pug

block title
    title Learn
block css
    link(rel="stylesheet", href="/css/home.css")
block content
    .container
        form.d-flex.flex-column(action="/checkVocabulary")
            input(type="text" class="input-learn" placeholder="Enter Word")
            //- input(type="hidden", name="mean" value=key[Index])
            if  Key
                if  Key.length <= Index
                    a.btn.btn-primary.btn-submit(href="/homeVocabulary") Back to Home
                else
                    button.btn.btn-primary.btn-submit(type="submit")
            else
                button.btn.btn-primary.btn-submit(type="submit") Start

    if Key 
        if Key.length >= Index
            .container.mean= Key[Index]





