extends ./basic.pug

block title
    title Login
block css 
    link(rel="stylesheet", href="/css/login.css")
block content
    .login
        form(action="/login/handleLogin", method="post")
            table
                tr
                    td 
                        label Username &nbsp
                    td
                        input.form-control(type="text",name="username", value=username)
                tr
                    td 
                        label Password
                    td
                        input.form-control(type="password",name="password")

            button.btn.btn-info.btn-lg.btnlogin.mt-3 Login
        br
        if errorMessage
            .h3.text-danger= errorMessage