extends ./basic.pug


block title
    title Subtitles

block css
    link(rel="stylesheet", href="/css/subtitles.css")

block content
    .container
        a.btn.btn-danger(href="/homeVocabulary#listVocabulary") Back to home
        p.subtitles= subtitles