
extends ./basic.pug

block content
    //- if plans
    //-     each value in plans
    //-         h1= value.name
    //-         h2= value.age


    each value in plans
        each val in value.plans
            h2= val.nameplans
            h2= val.date


