
extends ./basic.pug

block content
    //- if plans
    //-     each value in plans
    //-         h1= value.name
    //-         h2= value.age

    //- form(action="/",method="post")
    //-     button.btn.btn-primary Save
    h1= name



