@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

.title{
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    height: auto;
    background-color: green;
    text-align: center;
    color:white
}


input {
    width: 400px;
    height: 50px;
}


.form-submit{
    /* border: 1px solid red; */
    width: 400px;
    height: 70px;
    position: absolute;
    right: 470px;
    bottom: 300px;
    /* background-color: orange; */
    display: none;
}
